* {
  margin: 0;
  padding: 0;
}

.main-container .input-container {
  text-align: center;
  margin: 20px 0px;
}
.main-container .input-container input {
  width: 90vw;
}
.main-container .error-container {
  text-align: center;
}
.main-container .buttons-container {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-container .forecast-container {
  width: 90vw;
  margin: auto;
}
.main-container .forecast-container h4 {
  color: rgb(45, 45, 45);
  font-weight: 600;
  font-size: 20px;
}
.main-container .forecast-container span {
  color: grey;
  font-size: 15px;
}
.main-container .forecast-container .location-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-container .forecast-container .daily-container {
  background-color: #1b64a5;
  padding: 40px;
  border-radius: 20px;
  color: white;
}
.main-container .forecast-container .daily-container .today-container {
  display: flex;
}
.main-container .forecast-container .daily-container .today-container .today-temp {
  display: flex;
  font-size: 20px;
  margin-bottom: 40px;
}
.main-container .forecast-container .daily-container .today-container .today-temp .icon {
  width: 80px;
}
.main-container .forecast-container .daily-container .today-container .today-temp .today {
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.main-container .forecast-container .daily-container .today-container .conditions {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex-grow: 2;
}
.main-container .forecast-container .daily-container .weak-container {
  display: flex;
  justify-content: space-between;
}
.main-container .forecast-container .daily-container .weak-container .box-container {
  text-align: center;
}

.today-weather-container {
  margin: auto;
  width: 90vw;
  margin-top: 20px;
}
.today-weather-container h4 {
  color: rgb(45, 45, 45);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.today-weather-container .forecast {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  justify-content: space-around;
  font-weight: 500;
}
.today-weather-container .forecast .temp {
  display: flex;
  gap: 3rem;
}
.today-weather-container .forecast .condition {
  display: flex;
  gap: 3rem;
}/*# sourceMappingURL=Home.css.map */