* {
  margin: 0;
  padding: 0;
}
.main-container {
  .input-container {
    text-align: center;
    margin: 20px 0px;
    input {
      width: 90vw;
    }
  }
  .error-container {
    text-align: center;
  }
  .buttons-container {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .forecast-container {
    width: 90vw;
    margin: auto;
    h4 {
      color: rgb(45, 45, 45);
      font-weight: 600;
      font-size: 20px;
    }
    span {
      color: grey;
      font-size: 15px;
    }
    .location-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .daily-container {
      background-color: #1b64a5;
      padding: 40px;
      border-radius: 20px;
      color: white;
      .today-container {
        display: flex;

        .today-temp {
          display: flex;
          font-size: 20px;
          margin-bottom: 40px;
          .icon {
            width: 80px;
          }
          .today {
            font-size: 25px;
            color: white;
            font-weight: bold;
          }
        }
        .conditions {
          display: flex;
          // justify-content: space-between;
          justify-content: flex-end;
          gap: 2rem;
          flex-grow: 2;
        }
      }
      .weak-container {
        display: flex;
        justify-content: space-between;
        .box-container {
          text-align: center;
        }
      }
    }
  }
}

.today-weather-container {
  margin: auto;
  width: 90vw;
  margin-top: 20px;
  h4 {
    color: rgb(45, 45, 45);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .forecast {
    display: flex;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: space-around;
    font-weight: 500;
    .temp {
      display: flex;
      gap: 3rem;
    }
    .condition {
      display: flex;
      gap: 3rem;
    }
  }
}
